@{
    // O ID do produto visualizado na página
    int ID = 0;

    // Verificar que estão a ser recebidos dados através do método GET
    if (!IsPost)
    {
        // Validar o ID do produto, recebido a partir da querystring
        if ((!Request.QueryString["p"].IsEmpty()) && (Request.QueryString["p"].IsInt()))
        {
            // Obter o ID do produto a partir da querystring
            ID = Request.QueryString["p"].AsInt();
        }
    }

    // Abrir a base de dados
    var db = Database.Open("arte_e_artes");
  
    // Especificar a consulta para seleção de todos os produtos  
    string query = "SELECT * FROM Produtos WHERE ID = @0";

    // Executar a consulta
    var Produto = db.QuerySingle(query, ID);
}
<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="utf-8" />
	<title>Detalhes da Obra - Arte &amp; Artes</title>
    @RenderPage("~/Shared/_Metatags.cshtml")
</head>
<body>
    @RenderPage("~/Shared/_Header.cshtml")

    <main class="detalhe-produto">
		<div class="container">
			<div class="breadcrumbs">
				<a href="~/Default.cshtml">Início</a> &rsaquo; <a href="#">Pintura</a>
			</div>

            @{
                // Verificar se não foram retornados dados
                if (DBNull.Value.Equals(Produto))
                {
                    <text>
                    <p class="erro-produto">Produto não encontrado</p>
                    </text>
                }
                else
                {
                    <text>
                    <h1>
                        Detalhes da obra &lsquo;<strong>@Produto.Designacao</strong>&rsquo;
                    </h1>

                    <p class="preco">@Produto.Preco.ToString("C")</p>

                    <p class="autor">Autor: <strong>@Produto.Autor</strong></p>

                    <div class="imagem-produto">
                        <img src="~/assets/@Produto.Imagem" />
                    </div>

                    <h2>Detalhes da Obra</h2>

                    Título: <strong>@Produto.Designacao</strong><br />
                    Autor: <strong>@Produto.Autor</strong><br />
                    Data: <strong>@Produto.Data</strong><br />
                    Dimensões: <strong>@Produto.Dimensoes</strong>
                    </text>
                }
            }
		</div>
	</main>

    @RenderPage("~/Shared/_Footer.cshtml")
</body>
</html>